html {
    min-height: 100%;
    background-image: linear-gradient(#FC5E55, #FA4083); /* Adds a gradient background */
}

body {
    background-image: url(/images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Making the container width and autoing the content */
.container {
    width: 1024px;
    min-height: 300px; /* 300px and gets bigger if content needs */
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;  /* FBox property that makes the child elements inline */
    justify-content: space-between; /* FBox property that adds even space between the child elements */
    align-items: center;    /* FBox property that centers the child elements vertically */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

main {
    min-height: 300px;
    display: flex;  /* FBox property that makes the child elements inline */
    align-items: center; /* FBox property that centers the child elements vertically */
}


.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.main2 h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.cards {
    display: flex; /* FBox property that makes the child elements inline */
    justify-content: space-between; /* FBox property that adds even space between the child elements */
    text-align: center;
}

.cards a {
    color: white;
    text-decoration: none;
}

.cards i {
    font-size: 80px;
    padding-top: 30px;
}

.cards h2 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.cards p {
    font-size: 14px;
    line-height: 20px;
}


.card1 {
    min-height: 250px;
    width: 30%;
    background-image: url(/images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192); /* Shadow for the box around this div */
}

.card2 {
    min-height: 250px;
    width: 30%;
    background-image: url(/images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
}

.card3 {
    min-height: 250px;
    width: 30%;
    background-image: url(/images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
}

.herobox1 {
    flex: 2;    /* Since is 2 and the other child is 1 this is doulbe the size of the other child */
    padding-right: 100px;
}

.herobox1 p {
    line-height: 30px;
}

.herobox1 h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.192);  /* Shadow around the text with a low opacity */
} 

.herobox2 {
    flex: 1; /* Since this is 1 and the other child is 2 this is half the size of the other child */
}

/* .nav-box li {
    display: inline; 
} */

.my-button {
    color: #FA4083;
    background-color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 11px 25px 11px 25px;
    display: inline-block;
    margin-top: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.192);
    border-radius: 2px;
}

/* Styles for hovering over the button */
.my-button:hover {
    background-color: aqua; /* Changes background color while hovering button */
    transition-duration: 1s;    /* Takes 1s for the hover effect to take action */
}

.nav-buttons {
    color: white;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px 11px 25px;
    display: inline-block;
    border: 1px solid white;
    position: relative;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
}

.drop-down-box {
    display: none;
    position: absolute;
    z-index: 99;
    padding-top: 20px;
    text-align: center;
}

.nav-buttons:hover .drop-down-box {
    display: block;
}

.drop-down-box .nav-buttons {
    width: 80px;
     background-color: white;
     margin-top: 10px;
}

.drop-down-box .nav-buttons a {
    color: #FA4083;
}

.testimonials {
    display: flex; /* Makes the child elements in flex */
    flex-wrap: wrap; /* FBox proprety that wraps the child elements*/
    justify-content: space-between; /* Adds even space between the flex wrap */
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box; /* Keeps the box truly 47% while adding padding inside the box */
    margin-top: 50px;
    line-height: 25px;
}

/* Activates these properties on the last p tag in the tbox classes */
.tbox p:last-of-type { 
    font-size: 12px;
    padding-left: 30px;
}

.input-name {
    margin-bottom: 20px;
    padding-top: 20px;
}

.input-submit {
    padding-top: 20px;
}
